.visible {
	display: block!important;
}

.invisible {
	display: none!important;
}

#settingsMenu {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 600px;
	height: 500px;
	justify-content: center;
	align-content: center;
	text-align: center;
}

#settingsMenu label {
	color: darkseagreen;
	font-family: consolas;
	font-size: 1.5rem;
}

#settingsMenu button {
	width: 250px;
	height: 50px;
	background: transparent;
	border: none;
	border: 2px solid palevioletred;
	border-radius: 100px;
	transition: 0.5s ease;
	margin: 3px;
	font-size: 1rem;
	font-family: consolas;
}

#settingsMenu button:hover {
	cursor: pointer;
	width: 300px;
	transition: 0.5s ease;
	background: palevioletred;
}

#statsReport {
	transition: 0.5s;
	justify-content: safe center;
}

#statsReport:hover {
	background: lightblue;
	transition: 0.5s;
}

#statsReport label {
	font-size: 20px;
	color: darkblue;
}

.box {
	width: 140px;
	height: 100px;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	border: 2px solid green;
	transition: 0.5s;
}

h1 {
	font-family: comic sans ms;
}

.box:hover {
	border: 2px solid red;
	background: yellowgreen;
	transition: 0.5s;
}

.data {
	font-family: comis sans ms;
	font-size: 2rem;
}